In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [11]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [12]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [16]:
dframe

       col1      col2      col3      col4      col5
A -2.071484  2.107258 -0.113065 -0.095140  0.981128
B -0.971401  2.637416 -0.085023  1.523346 -1.173776
D  0.655318  0.510735  2.358632  0.100974  0.652843
E  0.362512 -0.756148  0.099011 -2.212453 -1.202062
F  2.231991 -1.362050  0.740876  1.257611 -0.327184

In [17]:
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)

In [18]:
dframe2

       col1      col2      col3      col4      col5
A -2.071484  2.107258 -0.113065 -0.095140  0.981128
B -0.971401  2.637416 -0.085023  1.523346 -1.173776
C       NaN       NaN       NaN       NaN       NaN
D  0.655318  0.510735  2.358632  0.100974  0.652843
E  0.362512 -0.756148  0.099011 -2.212453 -1.202062
F  2.231991 -1.362050  0.740876  1.257611 -0.327184

In [20]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -2.071484  2.107258 -0.113065 -0.095140  0.981128   NaN
B -0.971401  2.637416 -0.085023  1.523346 -1.173776   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.655318  0.510735  2.358632  0.100974  0.652843   NaN
E  0.362512 -0.756148  0.099011 -2.212453 -1.202062   NaN
F  2.231991 -1.362050  0.740876  1.257611 -0.327184   NaN

In [22]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A -2.071484  2.107258 -0.113065 -0.095140  0.981128   NaN
B -0.971401  2.637416 -0.085023  1.523346 -1.173776   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.655318  0.510735  2.358632  0.100974  0.652843   NaN
E  0.362512 -0.756148  0.099011 -2.212453 -1.202062   NaN
F  2.231991 -1.362050  0.740876  1.257611 -0.327184   NaN