In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser = Series(randn(6), index=[[1,1, 1, 2, 2, 2],['a','b','c','a','b','c']])

In [3]:
ser

1  a    1.120885
   b    0.756412
   c   -1.354989
2  a   -0.630034
   b   -0.832912
   c   -1.828596
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a    1.120885
b    0.756412
c   -1.354989
dtype: float64

In [6]:
ser[2]

a   -0.630034
b   -0.832912
c   -1.828596
dtype: float64

In [7]:
ser

1  a    1.120885
   b    0.756412
   c   -1.354989
2  a   -0.630034
   b   -0.832912
   c   -1.828596
dtype: float64

In [8]:
ser[:, 'a']

1    1.120885
2   -0.630034
dtype: float64

In [11]:
dframe = ser.unstack()

In [12]:
dframe

          a         b         c
1  1.120885  0.756412 -1.354989
2 -0.630034 -0.832912 -1.828596

In [13]:
dframe.unstack()

a  1    1.120885
   2   -0.630034
b  1    0.756412
   2   -0.832912
c  1   -1.354989
   2   -1.828596
dtype: float64

In [14]:
dframe.T.unstack()

1  a    1.120885
   b    0.756412
   c   -1.354989
2  a   -0.630034
   b   -0.832912
   c   -1.828596
dtype: float64

In [15]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),
                   index=[['a', 'a', 'b', 'b'],[1, 2, 1, 2]],
                   columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])

In [16]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [17]:
dframe2.index.names = ['INDEX_1', 'INDEX_2']

In [18]:
dframe2

                  NY      LA   SF
                cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.columns.names = ['Cities', 'Temp']

In [20]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [21]:
dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [23]:
dframe2.sortlevel(1).sortlevel(0)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [24]:
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27